@import "var.scss";

.list {
    display: flex;
    flex-direction: column;
}

.item {
    display: flex;
    align-items: flex-start;
    margin: 10px 0px;

    @media (max-width: 900px) {
        margin: 5px 0px;
    }
}

.circle {
    display: inline-block;
    margin: 10.5px 15px 0 0;
    height: 7px;
    min-width: 7px;
    width: 7px;
    background-color: $redColor;
    border-radius: 50%;
}

.text {
    font-size: 20px;
    line-height: 140%;

    @media (max-width: 1120px) {
        font-size: 18px;
    }

    @media (max-width: 768px) {
        font-size: 16px;
    }

    @media (max-width: 480px) {
        font-size: 15px;
    }

    &_small {
        font-size: 16px;

        @media (max-width: 768px) {
            font-size: 15px;
        }

        @media (max-width: 480px) {
            font-size: 14px;
        }
    }
}
