@import "var.scss";

.title {
    font-size: $titleFont;
    font-weight: 600;
    line-height: 125%;

    @media (max-width: 1120px) {
        font-size: $titleFont1120;
    }

    @media (max-width: 768px) {
        font-size: $titleFont768;
    }

    @media (max-width: 480px) {
        font-size: $titleFont480;
    }

    &_md {
        font-size: $titleMdFont;

        @media (max-width: 1120px) {
            font-size: $titleMdFont1120;
        }

        @media (max-width: 768px) {
            font-size: $titleMdFont768;
        }

        @media (max-width: 480px) {
            font-size: $titleMdFont480;
        }
    }

    &_sm {
        font-size: $titleSmFont;

        @media (max-width: 1120px) {
            font-size: $titleSmFont1120;
        }

        @media (max-width: 768px) {
            font-size: $titleSmFont768;
        }

        @media (max-width: 480px) {
            font-size: $titleSmFont480;
        }
    }
}

.wrap {
    max-width: 1920px;
    margin: 0 auto;
}

.wrapInner {
    max-width: calc(#{$centerAreaMaxSize} + 2 * #{$pagePadding});
    margin: 0 auto;
    padding-right: $pagePadding;
    padding-left: $pagePadding;

    @media (max-width: 480px) {
        padding-right: $pagePadding480;
        padding-left: $pagePadding480;
    }
}

// form

.formButton {
    height: 68px;
    background: $redColor;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    line-height: 125%;
    border-radius: 1px;

    &:hover {
        background: $greenColor;
    }

    &:focus {
        background: $greenColor;
    }

    @media (max-width: 540px) {
        margin: 30px 0 14px 0;
        height: 55px;
        font-size: 15px;
    }

    @media (max-width: 400px) {
        margin: 20px 0 7px 0;
        height: 45px;
    }
}

.formSubmitDesc {
    color: #707070;
    font-size: 11px;
    font-weight: 400;
    line-height: 155%;

    a {
        color: #707070;
        text-decoration: underline;
    }
}
