// colors
$fontColor: #2f2c27;
$redColor: #d6001c;
$lightRedColor: #f4364c;
$swampColor: #a4bdba;
$darkGreenColor: #007367;
$greenColor: #00aca8;
$lightGreenColor: #8cf3e7;
$brightGreenColor: #24EE9D;
$footerFontColor: #d9d9d9;

// layout
$scrollbarWidth: 16px;
$scrollbarWidth1120: 16px;
$scrollbarWidth768: 14px;
$maxContentWidth: 1680px;
$centerAreaMaxSize: 1200px;
$pagePadding: 22px;
$headerHeight: 60px;
$titleFont: 56px;
$subtitleFont: 30px;

// 1120
$titleFont1120: 40px;
$headerHeight1120: 44px;
$subtitleFont1120: 24px;

// 768
$titleFont768: 34px;
$headerHeight768: 38.8px;

// 480
$titleFont480: 28px;
$pagePadding480: 17px;
$headerHeight480: 34.5px;
$subtitleFont480: 20px;