@import "var.scss";

.leftSide {
    display: flex;
    align-items: center;
    align-self: center;

    &_scrolling {
        .logo {
            padding: 0px;
            max-height: $headerHeight;

            &__basicIconWrap {
                transform: translateX(-400px);
                margin-right: -200px;
                visibility: hidden;
            }
        }
    }
}

.logo {
    width: 142px;
    margin-right: 28px;
    display: flex;
    align-items: center;
    transition: all 0.6s ease;

    @media (max-width: 480px) {
        width: 100px;
        margin-right: 16px;
    }

    &_basic {
        width: auto;
        margin-right: 30px;
        max-height: calc(#{$headerHeight} + 20px);
        padding: 10px 0;

        @media (max-width: 1120px) {
            padding: 5px 0;
            svg {
                height: 44px;
            }
        }

        @media (max-width: 480px) {
            padding: 0;
            svg {
                height: 40px;
            }
        }
    }

    &__basicIconWrap {
        margin-right: 30px;
        transition: all 0.6s ease;
        width: 200px;
        visibility: visible;

        @media (max-width: 1120px) {
            display: none;
        }
    }
}

.burgerWrap{
    &_basic{
        display: none;

        @media (max-width: 1500px) {
            display: block;
        }
    }
}