@import "var.scss";

.image {
    margin-bottom: 39px;
    width: 100%;

    @media (max-width: 525px) {
        margin-bottom: 15px;
    }
}

.imageHighRes {
    @media (max-width: 1000px) {
        display: none;
    }
}

.imageLowRes {
    display: none;
    @media (max-width: 1000px) {
        display: block;
    }
}

.name {
    margin-bottom: 15px;
    color: #000;
    font-size: 20px;
    font-weight: 500;
    line-height: 100%;

    @media (max-width: 525px) {
        margin-bottom: 8px;
        font-size: 15px;
    }
}

.desc {
    color: #707070;
    font-size: 15px;
    line-height: 125%;

    @media (max-width: 525px) {
        font-size: 13px;
    }
}
