@import "var.scss";

.wrap{    display: grid;
    grid-template-columns: 2fr 3fr;
    align-items: flex-start;
    justify-content: space-between;
    padding: 26px $pagePadding;
    border-top: 1px solid $swampColor;

    @media (max-width: 850px) {
        grid-template-columns: none;
    }

    @media (max-width: 480px) {
        padding: 15px $pagePadding480;
    }}



.title{
    display: flex;
    margin-right: 1.3em;
    @media (max-width: 850px) {
        margin-bottom: 1em;
        margin-right: 0;
    }
}

.idSpan{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 42px;
    min-width: 42px;
    width: 42px;
    margin: 4.5px 40px 0 0;
    line-height: 140%;
    font-weight: 700;
    border-radius: 50%;
    background-color: $lightRedColor;
    color: #fff;

    @media (max-width: 1120px) {
        height: 34px;
        min-width: 34px;
        width: 34px;
        margin: 3.5px 20px 0 0;
    }

    @media (max-width: 480px) {
        height: 28px;
        min-width: 28px;
        width: 28px;
        margin: 4.5px 15px 0 0;
    }
}

.titleText{
    font-size: $subtitleFont;
    line-height: 167%;
    font-weight: 600;

    @media (max-width: 1120px) {
        font-size: $subtitleFont1120;
    }

    @media (max-width: 480px) {
        font-size: $subtitleFont480;
    }
}