@import "var.scss";

$circleLeft: 63px;
$circleLeft1080: 85px;

.wrap {
    max-width: $centerAreaMaxSize;
    width: 100%;
    margin: 0 auto;
    position: relative;
    padding-top: 200px;

    @media (max-width: 1080px) {
        height: unset;
        padding-top: 150px;
    }

    @media (max-width: 768px) {
        padding-top: 0;
        width: calc(100% + 2 * #{$pagePadding});
        margin-left: -$pagePadding;
    }

    @media (max-width: 480px) {
        width: calc(100% + 2 * #{$pagePadding480});
        margin-left: -$pagePadding480;
    }
}

.wrapAbsolute {
    width: 100%;
    position: absolute;
    bottom: -200px;
    left: 0;
    height: 400px;
    border-radius: 8px;
    background-color: $fontColor;
    display: flex;
    overflow: hidden;

    @media (max-width: 1080px) {
        height: unset;
        bottom: -150px;
    }

    @media (max-width: 768px) {
        position: static;
        border-radius: 0;
    }

    @media (max-width: 540px) {
        flex-direction: column;
    }
}

.title {
    color: #fff;
    font-size: $subtitleFont;
    font-weight: 700;
    line-height: 120%;
    margin-bottom: 30px;

    @media (max-width: 1120px) {
        font-size: $subtitleFont1120;
    }

    @media (max-width: 768px) {
        margin-right: -150px;
    }

    @media (max-width: 480px) {
        font-size: $subtitleFont480;
    }
}

.leftWrap {
    padding: 50px calc(75px + #{$circleLeft}) 50px 75px;
    flex-grow: 1;

    @media (max-width: 1080px) {
        padding: 30px calc(15px + #{$circleLeft1080}) 30px 35px;
    }

    @media (max-width: 900px) {
        padding: 30px $circleLeft1080 30px 35px;
    }

    @media (max-width: 768px) {
        padding: 30px $circleLeft1080 30px 35px;
    }

    @media (max-width: 600px) {
        padding: 30px 40px 30px 25px;
    }

    @media (max-width: 540px) {
        padding: 30px 18px 5px 18px;
    }
}

.rightWrap {
    position: relative;
    display: flex;
    justify-content: end;
    align-items: flex-end;

    @media (max-width: 900px) {
        right: -40px;
    }

    @media (max-width: 600px) {
        right: -65px;
    }

    @media (max-width: 540px) {
        right: 0;
    }
}

.circle {
    background: $redColor;
    height: 275px;
    width: 275px;
    position: absolute;
    bottom: 15px;
    left: -$circleLeft;
    display: flex;
    align-items: center;
    border-radius: 50%;

    @media (max-width: 1080px) {
        height: 200px;
        width: 200px;
    }

    @media (max-width: 1080px) {
        left: -$circleLeft1080;
    }

    @media (max-width: 540px) {
        height: 65vw;
        width: 65vw;
        left: 20px;
        bottom: -60px;
    }

    @media (max-width: 440px) {
        left: 15px;
        bottom: -45px;
    }
}

.content {
    margin-left: 24px;
    max-width: 160px;

    @media (max-width: 540px) {
        margin: 0 0 60px 55px;
    }

    @media (max-width: 440px) {
        margin: 0 0 38px 30px;
    }

    @media (max-width: 360px) {
        margin: 0 0 45px 23px;
    }
}

.contentTitle {
    display: block;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    line-height: 16px;
    margin-bottom: 7px;

    @media (max-width: 360px) {
        font-size: 14px;
    }
}

.contentText {
    display: block;
    font-size: 13px;
    font-weight: 500;
    line-height: 16px;
    color: #ffd8dc;

    @media (max-width: 360px) {
        font-size: 12px;
    }
}

.img {
    position: relative;
    z-index: 1;
    height: 380px;
    right: -68px;

    @media (max-width: 1080px) {
        height: 290px;
    }

    @media (max-width: 540px) {
        height: unset;
        width: 58vw;
    }
}
