@import "var.scss";

.wrapAbsolute {
    width: 100%;
    position: relative;
    left: 0;
    background: $darkGreenColor;
    overflow: hidden;
    height: 0px;
    transition: all 0.5s ease;

    @media (max-width: 1500px) {
        display: none;
    }

    &_withMidRes {
        @media (max-width: 1500px) {
            display: block;
        }
        @media (max-width: 1024px) {
            display: none;
        }
    }

    &_withLowRes {
        display: block !important;
    }

    &_bright {
        background: $brightGreenColor;
    }
}

.wrap {
    width: 100%;
    max-width: $centerAreaMaxSize;
    margin: 0 auto;
    padding: 25px 100px;
    display: grid;
    grid-template-columns: 7fr 6fr 7fr;

    @media (max-width: 1200px) {
        grid-template-columns: 8fr 6fr 7fr;
    }

    @media (max-width: 1024px) {
        grid-template-columns: 1fr 1fr;
        grid-gap: 50px;
        padding: 25px 40px;
    }

    @media (max-width: 768px) {
        grid-template-columns: 1fr;
        grid-gap: 30px;
        padding: 20px 25px;
    }
}

.listWrap {
    &_useful {
        max-width: 280px;
    }

    &_about {
        max-width: 160px;
    }
}

.title {
    height: 0;
    opacity: 0;
    visibility: hidden;
}

.list {
}

.item {
    cursor: pointer;
    margin-bottom: 10px;

    &:last-child {
        margin-bottom: 0;
    }

    &:hover {
        a {
            color: $brightGreenColor;
        }

        svg {
            fill: #fff;
        }
    }

    &_withIcon {
        margin-top: 15px;

        a {
            display: flex;
            text-decoration: underline;
        }

        svg {
            fill: $swampColor;
            margin-right: 13px;
        }
    }

    a {
        color: #fff;
        font-size: 15px;
        line-height: 120%;
        font-weight: 600;
    }
}

.link {
    display: block;
}

.contacts {
}

.contactsLink {
    display: block;
    margin-bottom: 10px;
    width: 100%;
    color: #fff;
    font-size: 30px;
    font-weight: 600;
    line-height: 130%;

    @media (max-width: 1200px) {
        font-size: 25px;
    }

    @media (max-width: 768px) {
        font-size: 20px;
    }

    &:hover {
        color: $brightGreenColor;
    }
}

.socials {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 1200px) {
        max-width: 270px;
    }

    @media (max-width: 480px) {
        gap: 25px;
        justify-content: start;
    }
}

.linkSocial {
    svg {
        fill: #fff;
    }

    &_WA {
        svg {
            &:hover {
                fill: $brightGreenColor;
            }

            @media (max-width: 480px) {
                max-width: 22px;
            }
        }
    }

    &_TG {
        svg {
            &:hover {
                fill: #35acf1;
            }

            @media (max-width: 480px) {
                max-width: 22px;
            }
        }
    }

    &_YT {
        svg {
            &:hover {
                fill: $lightRedColor;
            }

            @media (max-width: 480px) {
                max-width: 25px;
            }
        }
    }

    &_VK {
        svg {
            &:hover {
                fill: #4081ff;
            }

            @media (max-width: 480px) {
                max-width: 34px;
            }
        }
    }
}
