@import "var.scss";

.headerFixed {
    position: fixed;
    z-index: 10;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

.content {
    max-width: 1920px;
    width: 100%;
    padding-left: $pagePadding;
    display: flex;
    justify-content: space-between;
    position: fixed;
    background: #fff;

    &_invin {
        background: #0f0f0e;
    }

    &_basic {
        background: #f5f6fb;
        align-items: flex-start;

        @media (max-width: 1120px) {
            align-items: center;
            height: 55px;
        }

        @media (max-width: 480px) {
            align-items: center;
            height: $headerHeight480;
        }
    }

    @media (max-width: 480px) {
        padding-left: $pagePadding480;
    }
}
