@import "var.scss";

.navWrapFullWidth {
    width: 100%;
    margin: 0px 70px;

    @media (max-width: 1500px) {
        margin: 0 15px;
    }
}

.nav {
    height: $headerHeight;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid $swampColor;

    &_burgerActive {
        border-bottom: none;
    }

    @media (max-width: 1500px) {
        display: none;
    }

    &_bright {
        border-bottom: 1px solid #353535;
    }

    &_withMidRes {
        @media (max-width: 1500px) {
            display: flex;
            margin: 0 15px;
        }

        @media (max-width: 1024px) {
            display: none;
        }
    }

    // if burger is inside nav
    & > div {
        margin-right: 30px;

        @media (max-width: 1500px) {
            display: none;
        }
    }
}
