@import "var.scss";

.nav {
    height: $headerHeight;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid $swampColor;

    &_burgerActive {
        border-bottom: none;
    }

    @media (max-width: 1500px) {
        display: none;
    }
}