@import "var.scss";

.wrap {
    background: #fff;
    padding-bottom: 120px;

    @media (max-width: 1120px) {
        padding-bottom: 70px;
    }

    @media (max-width: 768px) {
        padding-bottom: 40px;
    }
}

.titleWrap {
    margin-bottom: 65px;

    @media (max-width: 1120px) {
        margin-bottom: 30px;
    }

    @media (max-width: 768px) {
        margin-bottom: 25px;
    }
}

.content {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-areas: "content icon";

    @media (max-width: 768px) {
        grid-template-columns: 1fr;
        grid-template-areas:
            "icon"
            "content";
    }
}

.itemsWrap {
    grid-area: content;
    margin-right: 120px;

    @media (max-width: 1120px) {
        margin-right: 70px;
    }

    @media (max-width: 768px) {
        margin-right: 0;
    }
}

.iconWrap {
    grid-area: icon;

    &_default {
        width: 267px;
        aspect-ratio: 267 / 298;

        @media (max-width: 1120px) {
            width: 220px;
        }

        @media (max-width: 900px) {
            width: 180px;
        }

        @media (max-width: 768px) {
            display: none;
        }
    }
    &_lowRes {
        display: none;
        width: 450px;
        min-width: calc(320px - #{$pagePadding480} * 2);
        aspect-ratio: 326 / 148;

        @media (max-width: 768px) {
            display: block;
            width: 60%;
        }
    }

    svg {
        width: 100%;
    }
}

.expandBtn {
    width: 216px;
    height: 52px;
    border: 1px solid $greenColor;
    color: $greenColor;
    font-size: 15px;
    font-weight: 500;
    line-height: 120%;

    &_hidden {
        display: none;
    }

    @media (max-width: 480px) {
        width: 100%;
    }
}
