@import "var.scss";

.wrap {
    position: relative;
    padding: 100px 0;

    @media (max-width: 1120px) {
        padding: 55px 0;
    }

    @media (max-width: 768px) {
        padding: 40px 0;
    }

    @media (max-width: 480px) {
        padding: 25px 0;
    }
}

.wrapInner {
    position: relative;
    z-index: 1;
}

.titleWrap {
    display: flex;
    gap: 55px;
    margin-bottom: 80px;

    @media (max-width: 1120px) {
        margin-bottom: 60px;
    }

    @media (max-width: 720px) {
        flex-direction: column;
        gap: 25px;
        margin-bottom: 40px;
    }
}

.title {
    @media (max-width: 720px) {
        margin-right: auto;
    }

    &_withIcon {
        display: flex;
        gap: 35px;
        background: $redColor;
        padding: 25px 60px;
        border-radius: 83px;

        @media (max-width: 720px) {
            max-width: 320px;
            padding: 20px 40px;
            gap: 20px;
        }

        svg {
            margin-top: 25px;
            height: 58px;
            width: 58px;

            @media (max-width: 1120px) {
                margin-top: 10px;
            }

            @media (max-width: 720px) {
                height: 35px;
                width: 35px;
            }
        }
    }
}

.list {
    display: flex;
    gap: 40px;

    @media (max-width: 720px) {
        flex-direction: column;
        gap: 25px;
    }

    &_inView {
        svg {
            opacity: 1 !important;
            visibility: visible !important;
        }
    }
}

.listItem {
    max-width: 360px;
    width: 100%;

    &__header {
        display: flex;
        gap: 15px;
        margin-bottom: 15px;

        span {
            font-weight: 700;
            font-size: 24px;
            line-height: 133%;
            color: $darkGreenColor;

            @media (max-width: 720px) {
                font-size: 20px;
            }
        }
    }

    &__desc {
        font-weight: 500;
        font-size: 20px;
        line-height: 133.4%;

        @media (max-width: 720px) {
            font-size: 16px;
        }
    }
}

.background {
    background: #fff;
    height: 100%;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}
