@import "var.scss";
@import "./assets/scss/global.scss";
@import "./assets/scss/common.scss";

main {
    margin-top: $headerHeight;

    @media (max-width: 1120px) {
        margin-top: $headerHeight1120;
    }

    @media (max-width: 768px) {
        margin-top: $headerHeight768;
    }

    @media (max-width: 480px) {
        margin-top: $headerHeight480;
    }

    &#basic {
        margin-top: calc(#{$headerHeight} + 20px);

        @media (max-width: 1120px) {
            margin-top: calc(#{$headerHeight1120} + 11px);
        }

        @media (max-width: 480px) {
            margin-top: $headerHeight480;
        }
    }
}
